.link-container {
  border-radius: 30px;
  overflow: hidden !important;
}

.link-container-box {
  background-color: rgba(255, 255, 255, 0.06);
  padding: 30px 45px;
  border-radius: 30px;
}

.link-container-side {
  padding: 30px 45px;
  border-left: 30px solid #ff375b;
  height: 20%;
}
